include ./blogcard.pug
include ./records.pug

.blog
    .blog-content
        div#posts
        .pagination-buttons
            button.pagination-button.block#blogbuttonminus Назад
            .list-buttons#paginationbuttons
            button.pagination-button.block#blogbuttonplus Вперёд
    
