.editpost
    p Заголовок:
    input.edit-title.text-small(type="text" id='edittitle')
    p Текст:
    textarea.edit-textarea.text-small(name="", id='edittextarea')
    p Автор:
    input.edit-author.text-small.block(type="text" id='editauthor')
    p Картинка:
    img.edit-image.block#editimage(src=image)
    //- .edit-footer-image
    - var imagesList = [{title: 'Утёсы', value: 'static/img/post-1.jpg'}, {title: 'Озеро', value: 'static/img/post-2.jpg'}, {title: 'Луг', value: 'static/img/post-3.jpg'}, {title: 'Река', value: 'static/img/post-4.jpg'}, {title: 'Цветок', value: 'static/img/post-5.jpg'}, {title: 'Прибой', value: 'static/img/post-6.jpg'}, {title: 'Пальма', value: 'static/img/post-7.jpg'}, {title: 'Берег', value: 'static/img/post-8.jpg'}];
    select#editlist.select(name='nation')
      each item in imagesList
        - const {title, value} = item
        option.select--list(value= value)= title
    //- button.blogcard-button.block#editreplace Изменить картинку
    p.block#img
    p.block#str

    .buttons
      button.blogcard-button.block#editbutton Сохранить
      button.blogcard-button.block#deletebutton Удалить