.editpost
    p Заголовок:
    input.edit-title.text-small(type="text" id='edittitle')
    p Текст:
    textarea.edit-textarea.text-small(name="", id='edittextarea')
    p Автор:
    input.edit-author.text-small(type="text" id='editauthor')
    button.blogcard-button.block#editbutton Сохранить