.footer 
    .footer-content
        a(href="https://t.me/anton_nevezhin" target="_blank")
            img.footer-image(src='../assets/images/tg.png', alt='Телеграм')
        a(href="https://vk.com/nevezhin72" target="_blank")
            img.footer-image(src='../assets/images/vk.png', alt='Вконтакте')
        a(href="https://ok.ru/anton.nevezhin.nevezhin72" target="_blank")
            img.footer-image(src='../assets/images/ok.png', alt='Одноклассники')
    .copyright © А. Невежин 2023