.header
    .header-menu
        a.menu-point(href="index.html") Главная
        a.menu-point(href="#") Добавить запись
        a.menu-point(href="#") Контакты
    .header-content
        .header-content-left 
            .text-big Путешествуем по всему миру
            .header-text-small.text-small Путешествия – это именно то, где можно получить море эмоций, открыть для себя новые места и найти новые впечатления. Именно за это мы их так любим.
            button.header-button Напишите нам
        .header-content-right
            img.header-image-1(src='../assets/images/01.png', alt='Земной шар')
