h1 header

.middle
    a.middle__link(href="#") I am link

- const kittens = 10
case kittens
  when 0
    p you have no kittens
  when 1
    p you have a kitten
  default
    p you have #{kittens} kittens

- const list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"];
each item in list
    li= item



.title regerger 


.knowledge 
    .title.title_white.knowledge__title ergerghe



.example
    .title.example__title sggsd