include ./pageone.pug

.pages 
    .pages-content
        +pageOne('На теплоходе по морю', 'Вдыхая свежий морской воздух, чувствуешь настоящую гармонию с природой. Волны ласкают берег, сливаясь с белоснежными камнями, словно тело и душа становятся единым целым. Отрешенность от суеты повседневной жизни и полное погружение в морскую атмосферу сопровождаются чудесными встречами с уникальными природными явлениями.')
        +pageOne('На автомобиле по суше', 'Просторы лугов и полей просто вдохновляют и заставляют ощущать горячий поток идей, готовых воплотиться на страницах произведений. Здесь можно обнаружить горные вершины, облитые росой, прозрачные озера, отражающие небо и дремлющие реки. Местные дороги, скрывающие своей красотой исторические уголки, разнообразные ландшафты и даже тайны, лежащие в сердце этих мест.')