body {
  margin: 0 auto;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  max-width: 1152px;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 856px;
  margin: 0 auto;
  background-color: aqua;
}
.text-big {
  margin-top: 17px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}
.text-middle {
  margin-top: 17px;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
}
.text-page {
  font-size: 26px;
  font-weight: 700;
  color: #21243D;
}
.text-small {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #21243D;
}
@media only screen and (max-width: 375px) {
  body {
    width: 100vw;
  }
  .wrapper {
    max-width: 85.3vw;
    margin: 0 0;
  }
}
.editpost {
  max-width: 856px;
  height: auto;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  border-bottom-style: solid;
  border-color: #E0E0E0;
  border-width: 1px;
}
.block {
  display: block;
}
.float-none {
  float: none;
}
.edit-textarea {
  width: 600px;
  height: 200px;
  border-style: solid;
  border-color: #E0E0E0;
  border-width: 2px;
}
.edit-title {
  width: 600px;
  border-style: solid;
  border-color: #E0E0E0;
  border-width: 2px;
}
.edit-author {
  border-style: solid;
  border-color: #E0E0E0;
  border-width: 2px;
}
.edit-image {
  width: 246px;
  height: 180px;
  margin-top: 20px;
  margin-right: 20px;
}
.single-flex {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.single-text {
  margin-top: 20px;
}
.single-image {
  width: 246px;
  height: 180px;
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
