.footer {
  max-width: 1152px;
  height: 161px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDF7FA;
}
.footer-content {
  max-width: 150px;
  height: 32px;
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.footer-image {
  width: 32px;
  height: 32px;
}
.copyright {
  width: 200px;
  text-align: center;
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
}
