body {
  margin: 0 auto;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  max-width: 1152px;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 856px;
  margin: 0 auto;
  background-color: aqua;
}
.text-big {
  margin-top: 17px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}
.text-page {
  font-size: 26px;
  font-weight: 700;
  color: #21243D;
}
.text-small {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #21243D;
}
@media only screen and (max-width: 375px) {
  body {
    width: 100vw;
  }
  .wrapper {
    max-width: 85.3vw;
    margin: 0 0;
  }
}
.header {
  max-width: 1152px;
  height: 444px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
}
.header-menu {
  max-width: 1152px;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}
.menu-point {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.header-text-small {
  margin-top: 40px;
}
.header-content {
  max-width: 856px;
  height: 484px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.header-content-left {
  width: 500px;
}
.header-content-right {
  padding-top: 1px;
  width: 400px;
}
.header-content-left {
  padding-top: 1px;
}
.header-button {
  margin-top: 38px;
  width: 208px;
  height: 47px;
  background-color: #FF6464;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: 0px;
}
.header-image {
  width: 250px;
  height: 250px;
  margin-left: 90px;
  margin-top: 150px;
}
.header-image-1 {
  width: 250px;
  height: 250px;
  margin-top: 40px;
  margin-left: 150px;
}
