.header {
  max-width: 1152px;
  height: 594px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
}
.header-menu {
  max-width: 856px;
  height: 59px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
}
.menu-point {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.header-text-small {
  margin-top: 40px;
}
.header-content {
  max-width: 856px;
  height: 534px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.header-content-left {
  width: 500px;
}
.header-content-right {
  width: 400px;
}
.header-content-left {
  padding-top: 1px;
}
.header-button {
  margin-top: 38px;
  width: 208px;
  height: 47px;
  background-color: #FF6464;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: 0px;
}
.header-image {
  width: 250px;
  height: 250px;
  margin-left: 150px;
  margin-top: 150px;
}
.pages {
  max-width: 1152px;
  height: 395px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EDF7FA;
}
.pages-content {
  max-width: 856px;
  height: 295px;
  margin-top: 69px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.menu-point {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}
.header-text-small {
  margin-top: 40px;
}
.header-content {
  max-width: 856px;
  height: 534px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.header-content-left {
  width: 500px;
}
.header-content-right {
  width: 400px;
}
.header-content-left {
  padding-top: 1px;
}
.header-button {
  margin-top: 38px;
  width: 208px;
  height: 47px;
  background-color: #FF6464;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: 0px;
}
.header-image {
  width: 250px;
  height: 250px;
  margin-left: 150px;
  margin-top: 150px;
}
.pageone {
  width: 395px;
  height: 295px;
  padding-left: 23px;
  background-color: white;
  border-radius: 4px;
}
.blog {
  max-width: 1152px;
  height: auto;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
}
.blog-content {
  max-width: 856px;
  height: auto;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
}
.text-page {
  color: blue;
}
body {
  margin: 0 auto;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  max-width: 1152px;
}
a {
  text-decoration: none;
}
.text-big {
  font-size: 36px;
}
.wrapper {
  max-width: 856px;
  margin: 0 auto;
  background-color: aqua;
}
.text-big {
  margin-top: 167px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}
.text-page {
  font-size: 26px;
  font-weight: 700;
  color: #21243D;
}
.text-small {
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
  color: #21243D;
}
@media only screen and (max-width: 375px) {
  body {
    width: 100vw;
  }
  .wrapper {
    max-width: 85.3vw;
    margin: 0 0;
  }
}
.card {
  text-align: center;
  box-shadow: 0px 0px 6px #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-10px);
}
.card__image {
  height: 30px;
  margin-bottom: 10px;
}
.card__title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card__text {
  font-size: 14px;
}
.cards {
  display: flex;
}
.cards__item {
  margin-left: 20px;
  width: 25%;
}
.cards__item:first-child {
  margin-left: 0;
}
