@import './base.less';

.singlepost  {
    max-width: 856px;
    min-height: 340px;
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    border-bottom-style: solid;
    border-color: #E0E0E0;
    border-width: 1px;
}

.single-flex {
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.single-text {
    margin-top: 20px;
}

.single-image {
    width: 246px;
    height: 180px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}
